@font-face {
  font-family: "Gunken";
  src: url("fonts/Gunken.otf") format("OpenType");
}

.rollcall{
    font-size: 105px;
    font-family: "Gunken", sans-serif;
    margin-bottom: 0px;
}
.caption{
    font-size: 18px;
    font-family: "Gunken", sans-serif;
    margin-top: 0px;
}
