@font-face {
  font-family: "Gunken";
  src: url("fonts/Gunken.otf") format("OpenType");
}

.rollcallv{
  margin-left: 140px;
  font-size: 105px;
  font-family: "Gunken", sans-serif;
  margin-bottom: 0px;
}
.rollcalle{
  margin-left: 140px;
  font-size: 105px;
  font-family: "Gunken", sans-serif;
  margin-bottom: 0px;
}
.caption{
  font-size: 18px;
  font-family: "Gunken", sans-serif;
  margin-top: 0px;
}

.event-button{
  margin-top: 35px;
  margin-right: 40px;
  height: 63px;
  width: 100px
}

.csvbutton{
  margin-left: 5px;
}

.big-switch{
  width: 3rem;    /* default ~2rem */
  height: 1.5rem; /* default ~1rem */
  transform: scale(1.4); /* scales the whole toggle */
  margin-right: 20px; /* adjust spacing */
}

.big-switch-label{
  transform: scale(1.2);
}

.detailscard{
  max-width: 400px;
}
.urlcard{
  max-width: 400px;
}
