<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Rekord</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <a href="/externalevent" class="btn btn-success event-button">External Event</a>
        <h1 class="rollcallv text-center w-100">Rekord</h1>
        <a href="/help" class="btn btn-primary help-button d-flex align-items-center justify-content-center" >Help</a>
    </div>
    <h3 class="caption text-center w-75 mx-auto">on-Chain recognition for every event</h3>


    <!-- upload div-->
     <form id="csvForm" method="POST" action="/vcsv" enctype="multipart/form-data">
        <div class="mt-5">
            <h5 class="text-center">Input the Zoom Report Here</h5>
            {% if alerts1 %}
                <div class="alert alert-danger w-50 mx-auto" role="alert">
                    Invalid file type. Please upload only CSV, XLS, or XLSX reports.
                </div>
            {% endif %}
            <div class="d-flex justify-content-center">
                <input class="form-control form-control-lg w-50" id="formFileLg" name="zoomreport" type="file" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                <button type="submit" class="btn btn-primary csvbutton">Auto Fill</button>
            </div>
        </div>
     </form>

    <!-- input forums div -->
    <form id="eventForm" method="POST" action="/vevent" enctype="multipart/form-data">
        <div class="mt-3">
            <!-- event name div -->
            <div class="mb-2 w-50 mx-auto">
                <label for="eventnameFormControlInput" class="form-label">Event Name</label>
                <input type="text" class="form-control" name="eventname" id="eventnameFormControlInput" value="{{ eventname or '' }}" placeholder="Event Name">
            </div>
            <!-- event description div -->
            <div class="mb-2 w-50 mx-auto">
                <label for="exampleFormControlInput" class="form-label">Description about this event</label>
                <div class="input-group">
                    <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="mb-2 w-50 mx-auto">
                <div class="mb-3">
                    <label for="formFile" class="form-label">POAP Icon</label>
                    {% if iconalert %}
                        <div class="alert alert-danger w-100 mx-auto" role="alert">
                            Invalid file type. Please upload only PNG or JPG files.
                        </div>
                    {% endif %}
                    <input class="form-control" type="file" id="formFile" name="icon" type="file" accept=".jpg, .png">
                </div>
            </div>
            <!-- city and country div -->
            <div class="citycountrydiv d-flex justify-content-center gap-1 mb-2">
                <!-- city div -->
                <div class="w-25">
                    <label for="cityFormControlInput" class="form-label">City</label>
                    <input type="text" class="form-control" name="cityname" id="cityFormControlInput" placeholder="City Name">
                </div>
                <!-- country div -->
                <div class="w-25">
                    <label for="countryFormControlInput" class="form-label">Country</label>
                    <input type="text" class="form-control" name="countryname" id="countryFormControlInput" placeholder="Country Name">
                </div>  
            </div>
            <!-- start and end date div -->
            <div class="datediv d-flex justify-content-center gap-1 mb-2">
                <!-- start date div -->
                <div class="w-25">
                    <label for="startdateFormControlInput" class="form-label">Start Date</label>
                    <input type="date" class="form-control" name="startdate" id="startdateFormControlInput" value="{{ startdate or '' }}" placeholder="MM-DD-YYYY">
                </div>
                <!-- end date div -->
                <div class="w-25">
                    <label for="enddateFormControlInput" class="form-label">End Date</label>
                    <input type="date" class="form-control" name="enddate" id="enddateFormControlInput" value="{{ enddate or '' }}" placeholder="MM-DD-YYYY">
                </div>  
            </div>
            <!-- expiry date and secret code div -->
            <div class="datediv d-flex justify-content-center gap-1 mb-2">
                <!-- expiry date div -->
                <div class="w-25">
                    <label for="expirydateFormControlInput" class="form-label">Expiry Date</label>
                    <input type="date" class="form-control" name="expirydate" id="expirydateFormControlInput" placeholder="MM-DD-YYYY">
                </div>
                <!-- secret code div -->
                <div class="w-25">
                    <label for="secretcodeControlInput" class="form-label">Secret Code</label>
                    <input type="text" class="form-control" name="secretcode" id="secretcodeControlInput" placeholder="Secret Code">
                </div>
            </div>
            <!-- email div -->
            <div class="mb-2 w-50 mx-auto">
                <label for="emailFormControlInput" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="emailFormControlInput" placeholder="example@gmail.com">
            </div>
            <!-- switch div-->
            <div class="datediv d-flex justify-content-center gap-1 mb-2 mt-4 ">
                <!-- private event toggle-->
                <div class="form-check form-switch me-md-5 d-flex align-items-center">
                    <input class="form-check-input big-switch" name="privateevent" value="true" type="checkbox" role="switch" id="switchCheckChecked" checked>
                    <label class="form-check-label big-switch-label" for="switchCheckChecked">Private Event</label>
                </div>
                <!-- virtual event toggle-->
                <div class="form-check form-switch d-flex align-items-center">
                    <input class="form-check-input big-switch" name="virtualeevent" type="checkbox" role="switch" id="switchCheckCheckedDisabled" checked disabled>
                    <label class="form-check-label big-switch-label" for="switchCheckChecked">Virtual Event</label>
                </div>   
            </div>
            <!-- optional file upload -->
            {% if fileindicator %}
                <div class="mt-3">
                    <h5 class="text-center">Input the Zoom Report Here</h5>
                    {% if alerts2 %}
                        <div class="alert alert-danger w-50 mx-auto" role="alert">
                            Invalid file type. Please upload only CSV, XLS, or XLSX reports.
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <input class="form-control form-control-lg w-50" id="formFileLg" name="zoomreport2" type="file" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    </div>
                </div>
            {% endif %}
            <div class="d-flex justify-content-center mt-3 mb-5">
                <button class="btn btn-primary w-25" type="submit">Generate POAP</button>
            </div>
        </div>
    </form>

    <!-- verification tiles -->
    {% if eventid %}
    <div class="d-flex justify-content-center">
        <!-- details card -->
        <div class="card text-center shadow-sm mt-3 detailscard hover-card">
            <div class="card-header bg-primary text-white">
                 Event Credentials
            </div>
            <div class="detailscard-body mt-4">
                <h5 class="card-title">Event ID</h5>
                <p class="card-text display-6 fw-bold">{{ eventid }}</p>
                <hr>
                <h5 class="card-title">Secret Code</h5>
                <p class="card-text display-6 fw-bold text-danger ">{{ secretcode }}</p>
            </div>
            <div class="card-footer text-muted detailscardfooter">
                These Credentials have been mailed to above given mail. You can use these to check the status of your POAP Drop
            </div>
        </div>
        <!-- URL Card -->
        <div class="card text-center shadow-sm mt-3 urlcard hover-card">
            <div class="card-header bg-success text-white">
                 Next Step
            </div>
            <div class="urlcard-body mt-2">
                <h5 class="card-title">Request Mint Links</h5>
                <p class="card-text">
                    To request mint links for your event, please go to the official POAP dashboard.
                </p>
                <a href="https://drops.poap.xyz" 
                class="btn btn-success mb-2" target="_blank">
                Open POAP Dashboard
                </a>
                <hr>
                <p class="card-text">If you have any confusion, check our help guide:</p>
                <a href="/help" class="btn btn-outline-primary mb-3">
                    Go to Help Page
                </a>
            </div>
            <div class="card-footer text-muted">
                Use your Event ID <strong>{{ eventid }}</strong> and Secret Code to continue.
            </div>
        </div>

    </div>
    {% endif %}
    
    <h2 class="ortext text-center">OR</h2>
    <h5 class="text-center mt-5 mb-4">Check the Status of your Event</h5>
        {% if status is not none %}
        {% if status==0 %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning text-center w-50">
                    Your drop is still <strong>pending approval</strong>
                </div>
            </div>
        {% elif status==1 %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-success text-center w-50">
                    Your drop has been <strong>approved</strong>! You can now request mint links.
                </div>
                <form action="/sendlinks" method="POST">
                    <button class="btn btn-primary mintlinkbutton mt-2" type="submit">Send Links</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
    <form action="/search", method="POST">
          <div>
            <div class="datediv d-flex justify-content-center gap-1 mb-2">
                <!-- event id div -->
                <div class="w-25">
                    <label for="eventidControlInput" class="form-label">Event ID</label>
                    <input type="text" class="form-control" name="eventid" id="eventidControlInput" placeholder="Event ID">
                </div>
                <!-- secret code div -->
                <div class="w-25">
                    <label for="secretcodeControlInput" class="form-label">Secret Code</label>
                    <input type="text" class="form-control" name="secretcode" id="secretcodeControlInput" placeholder="Secret Code">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3 mb-5">
                <button class="btn btn-primary w-25" type="submit">Check Status</button>
            </div>
        </div>  
    </form>
    <div class="footer mb-4">
      RollCall3 © 2025 · Built to make attendance rewarding 
    </div>
</body>
</html>
